@font-face {
    font-family: Ubuntu;
    src: url(../fonts/UbuntuSans.ttf);   
}

@font-face {
    font-family: RCanada;
    src: url(../fonts/RadioCanada.ttf);   
}

body {
    margin: 0;
    display: flex;
    height: 900px;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.login-container {
    width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px #999999;
}

h2 {
    font-weight: 600;
    color: #34212d;
    text-align: center;
    margin-bottom: 20px;
    font-family: RCanada;
}

.form-group {
    text-align: left;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    color: #656565;
    margin-bottom: 5px;
    font-family: Ubuntu;
}

.form-group input {
    padding: 8px;
    border-radius: 4px;
    font-family: Ubuntu;
    width: calc(100% - 16px);
    border: 1px solid #999999;
}

button {
    width: 100%;
    border: none;
    font-size: 18px;
    color: #ffffff;
    padding: 7px 14px;
    border-radius: 4px;
    background-color: #34212d;
}

button:hover {
    background-color: #4c3b47;
}